.fomrContainer{
    width: 60%;
    min-height: 50vw;
    border-radius: 5px;
    border: 2px solid rgba(97, 97, 97, 0.514);
    margin: 2% auto;
    overflow: hidden;
    .headding{
        width: 100%;
        height: 5vw;
        text-transform: capitalize;
        font-weight: 700;
        background: rgba(97, 97, 97, 0.514);
        color: #ffffff;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


form{
    width: 80%;
    margin: 2% auto;
    label{
        display: block;
        text-transform: capitalize;
        margin-bottom: 2%;
    }

    input{
        width: 100%;
        margin-bottom: 5% ;
    }

    select{
        margin-bottom: 2%;
    }

}
.note-group-select-from-files{
    display: none;
}

.imageBoxPreview{
    width: 100%;
    height: 20vw;
    border: 1px solid red;
    margin: 2% 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.backBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 3vw;
    color: #ffffff;
    background: orange;
    margin: 2% auto;
    border-radius: 5px;
}

.notificaton{
    width: 80%;
    height: 3vw;
    background: rgba(255, 166, 0, 0.466);
    border: 3px solid orange;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {

    .fomrContainer{
        width: 90%;
    }

    .backBtn{
        width: 90%;
        height: 10vw;
    }

}