.header-page-container{
    width: 100%;
    height: 15vw;
    background-attachment: fixed !important;
    position: relative;
}

.page-header-text{
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-family: 'Playfair Display SC', serif !important;
    color: #ffffff;
    text-transform: uppercase;
}

.contact-us-box-container{
    width: 90%;
    min-height: 40vw;
    // border: 1px solid red;
    margin: 5% auto;
    flex-wrap: wrap;
}

.detail-container-box{
    width: 30%;
    height: 100%;
    // border: 1px solid red;
}

.ContactUsVector{
    width: 80%;
    height: auto;
}


.contactUs-form-Box{
width: 100%;
height: 80%;
border-radius:5px ;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
overflow: hidden;
background: rgb(236, 236, 236);
}

.contact-us-form-heading{
    width: 100%;
    height: 80px;
    background-color: orange;
    color: #ffffff;
    font-size: 25px;
    padding-left: 5%;
    font-family: 'Playfair Display SC', serif !important;

}

.contactUs-form-Box{
    label,input,textarea{
        display: block;
        width: 85%;
        margin: 0 auto;
        outline: none;

    }

    label{
        margin-top: 5%;
        text-transform: uppercase;
        font-family: 'Playfair Display SC', serif !important;

    }

    input,textarea{
        margin-top: 2%;
        border: 1px solid rgba(0, 0, 0, 0.11);
        resize: none;
        padding: 0 3%;
    }

    input{
        height: 40px;
        appearance: textfield;
    }

    textarea{
        height: 30%;
        padding: 3%;
    }
}

.contactUs-form-btn{
    display: block;
    width: 40%;
    height: 40px;
    border: none;
    background: orange;
    color: #ffffff;
    text-transform: capitalize;
    margin: 5% auto;
}

.contact-info{
    display: block;
    width: 85%;
    margin: 3% auto;
    font-family: 'Playfair Display SC', serif ;
    font-size: 20px;
}

.contact-number{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {

  .header-page-container{
      height: 30vw;
  }  

  .detail-container-box{
      width: 80%;
        height: 100vw;
  }


}

@media only screen and (max-width: 600px) {

    .header-page-container{
        height: 50vw;
    }  
  
    .detail-container-box{
        width: 100%;
        height: auto;
        margin-bottom: 20%;
    }
  
  
    .image-box{
        display: none;
    }

    .email-address{
        font-size: 14px;
    }

    .contactUs-form-Box{
        padding-bottom: 10%;
    }


  }