.slider-btn {
  display: none;
}

.Top-genral-navitaion-container {
  width: 100%;
  height: 3vw;
  background: orange;
  position: relative;
}

.Top-ganral-navigation-social-links {
  width: 20%;
  height: 100%;
  color: #ffffff;
  position: absolute;
  left: 5%;
}

.Top-ganral-navigation-social-links i {
  font-size: 18px;
}

.Top-genral-navigation-contactDetails-Btns {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 5%;
}

.Top-genral-navigation-contactDetails-Btns a {
  color: #ffffff;
  font-size: 18px;
}

.Top-genral-navigation-contactDetails-Btns a i {
  font-size: 14px;
  margin-right: 5px;
}

.Top-genral-navgation-btns {
  height: 60%;
  background: #ffffff;
  color: #3f3f3f !important;
  padding: 0 20px;
  text-transform: capitalize;
  font-size: 15px !important;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.575);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.575);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.Top-genral-navgation-btns:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Top-main-navigation-Container {
  z-index: 100;
  width: 100%;
  height: 5vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(114, 114, 114, 0.37);
          box-shadow: 0px 2px 2px rgba(114, 114, 114, 0.37);
}

.Top-main-navigation-logo-link {
  height: 60%;
  position: absolute;
  left: 5%;
}

.Top-main-navigation-logo-link img {
  height: 100%;
}

.Top-main-navigation-sidelink-container {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 5%;
}

.Top-navigation-sidelinks {
  height: 100%;
  position: relative;
}

.home-link {
  padding: 0 20px;
  height: 50%;
  text-transform: capitalize;
  border-radius: 25px;
  font-size: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}

.home-link i {
  font-size: 13px;
  margin-left: 5px;
}

.home-link:hover {
  background: orange;
  color: #ffffff;
}

.selected {
  background: orange;
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
}

.Top-navigation-dropdown {
  width: 300%;
  height: auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100%;
}

.Top-navigation-dropdown ul {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.575);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.575);
}

.Top-navigation-dropdown a {
  overflow: hidden !important;
  width: 80%;
}

.Top-navigation-dropdown li {
  width: 100%;
  height: 0px;
  list-style: none;
  padding-left: 3%;
  text-transform: capitalize;
  color: #ffffff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background: orange;
}

.Top-navigation-dropdown li i{
  font-size: 11px;
  margin-right: 2%;
}

.Top-navigation-dropdown li:hover {
  padding-left: 5%;
}

.Top-navigation-drop-now {
  height: 40px !important;
}

.Right-dropdown {
  left: auto;
  right: 0 !important;
}

.my-profile-btn{
  cursor: pointer;
}

/* MY PROFILE STYLING START */

.my-profile-container{
  position: fixed;
  left: 0;
  bottom: -110vh;
  width: 100%;
  height: 110vh;
  background: rgba(0, 0, 0, 0.712);
  z-index: 500 !important;
  transition: 0.2s all;
}


.show-profile{
  bottom: 0;
}


.my-profile-card{
  width: 40%;
  height: 70%;
  background: #ffffff;
  border-radius: 5px;
}

.my-profile-banner-container{
  width: 100%;
  height: 20%;
  background: #f0f0f0;
  border-radius: 5px;
  position: relative;
}


.my-profile-banner-container img{
  height: 60%;
}


.my-profile-details-container{
  width: 100%;
  height: 80%;
}

.profile-pic-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 3% auto;
  background: #ececec;
  position: relative;
}

.upload-image-btn{
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
}

.profile-deatil-title{
  width: 80%;
  height: 40px;
  margin: 2% auto;
  margin-bottom: 6%;
  text-transform: capitalize;
}

.profile-status{
  text-transform: capitalize;
  text-align: center;
  margin: 2% auto;
}

.im-check-mark{
  color: rgb(41, 41, 255);
  font-size: 15px;
  margin-left: 2%;
}

.profile-text-title{
  text-transform: capitalize;
  margin-right: 2%;
  color: rgb(31, 31, 31);
  font-family: 'Playfair Display SC', serif !important;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.212);
}

.hide-profile-btn{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ffffff;
  background: orange;
  right: 10%;
  cursor: pointer;
}

.hide-profile-btn i{
  font-size: 12px;
}


/* MY PROFILE STYLING ENGING */

.bottom-Footer-container {
  width: 100%;
  height: 50vh;
  background: rgba(0, 0, 0, 0.884);
}

.bottom-footer-center-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.bottom-footer-box-containers {
  width: 30%;
  height: 100%;
  padding: 5% 0;
}

.bottom-footer-full-logo {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.footer-details {
  color: #636363;
  width: 80%;
  margin: 5% auto;
  line-height: 150%;
}

.footer-details i {
  margin-right: 3%;
  font-size: 13px;
  color: orange;
}

.footer-box-title {
  width: 80%;
  height: 20%;
  margin: 0 auto;
  font-family: 'Playfair Display SC', serif !important;
  color: #ffffff;
}

.footer-box-title .border-bottom {
  width: 100%;
  height: 3px;
  background: #ffffff;
  margin-top: 5%;
}

.footer-box-title .border-bottom div {
  width: 30%;
  height: 200%;
  background: orange;
}

.footer-socialmedia-links {
  width: 80%;
  height: 20%;
  color: orange;
  margin: 5% auto;
}

.footer-socialmedia-links i {
  -webkit-transition: 1s all;
  transition: 1s all;
}

.footer-socialmedia-links i:hover {
  color: #ffffff;
}

.bottom-Coppyright-bar {
  width: 100%;
  height: 5vh;
  background: black;
  position: relative;
}

.copyRight-text {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 10%;
  color: rgba(255, 255, 255, 0.699);
  font-size: 12px;
  text-transform: capitalize;
}

.copyRight-text-two {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 10%;
  color: rgba(255, 255, 255, 0.699);
  font-size: 12px;
  text-transform: capitalize;
}

.Botton-notification-btn {
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: #553700;
  z-index: 100;
}

.Botton-notification-btn img {
  width: 40%;
  height: 40%;
}

#notification-box-container {
  width: 0;
  height: 0;
  background: #ffffff;
  position: fixed;
  right: 5%;
  bottom: 13%;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.692);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.692);
  z-index: 100;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: none;
  overflow: hidden;
}

#notification-box-container ul {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.notifiaction-box-title {
  width: 100%;
  height: 60px;
  background: #0084ff;
  color: #ffffff;
  text-transform: capitalize;
  position: relative;
}

.notifiaction-box-title i {
  margin-right: 2%;
  font-size: 15px;
}

.notifiaction-box-title .im-x-mark-circle {
  position: absolute;
  right: 5%;
  font-size: 20px;
  cursor: pointer;
}

.notificaiton-list-items {
  width: 100%;
  height: 70px;
  list-style: none;
  margin: 2% 0;
  text-transform: capitalize;
  font-size: 13px;
}

.notificaiton-list-items img {
  width: 30px;
  height: 30px;
  margin: 0 5%;
}

.show-notifiaction-box {
  border: 5px solid #0084ff !important;
  width: 25% !important;
  height: 70% !important;
}

@media only screen and (max-width: 1000px) {

  .my-profile-card{
    width: 80%;
  }

  .slider-btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 30px;
    cursor: pointer;
    padding: 5px 10px;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .slider-btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .hide-on-mobile {
    display: none;
  }
  .Top-genral-navitaion-container {
    height: 10vw;
    z-index: 100 !important;
  }
  .Top-ganral-navigation-social-links {
    height: 40px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .Top-genral-navigation-contactDetails-Btns {
    width: 90%;
    bottom: 2%;
    height: 50%;
  }
  .Top-main-navigation-Container {
    height: 10vw;
  }
  .Top-main-navigation-sidelink-container {
    overflow: hidden;
    width: 0%;
    left: 0;
    height: 90vh;
    background: #ffffff;
    top: 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .Top-navigation-sidelinks {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-link {
    border-radius: 0;
    width: 100%;
    height: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    z-index: 150;
  }
  .Top-navigation-dropdown {
    z-index: 155;
    position: relative !important;
    width: 100%;
    top: 0;
  }
  .slide-navigation {
    width: 50%;
  }
  .black-background {
    display: none;
  }
  .show-black-background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.521);
    z-index: 99;
  }
  .show-notifiaction-box {
    width: 50% !important;
  }
}

@media only screen and (max-width: 600px) {

  .my-profile-benner-image{
    width: 50%;
    height: auto;
  }

  .Top-genral-navitaion-container {
    height: 40vw;
  }
  .Top-ganral-navigation-social-links {
    width: 60vw;
  }
  .Top-genral-navigation-contactDetails-Btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    font-size: 10px !important;
  }
  .Top-genral-navgation-btns {
    height: 20%;
  }
  .Top-main-navigation-sidelink-container {
    top: 20vw;
  }
  .Top-main-navigation-Container {
    height: 20vw;
  }
  .bottom-Footer-container {
    height: auto;
  }
  .bottom-footer-center-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottom-footer-box-containers {
    width: 100%;
  }
  .bottom-Coppyright-bar {
    height: 20vw;
  }
  .slide-navigation {
    width: 80%;
  }
  .show-notifiaction-box {
    width: 80% !important;
  }
}
/*# sourceMappingURL=navbar.css.map */