.top-paralax-title-Contaienr{
    width: 100%;
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.top-paralax-title{
    font-family: 'Playfair Display SC', serif !important;
    position: absolute;
    bottom: 12%;
    left: 5%;
    text-transform: capitalize;
    font-size: 35px;
}

.top-paralax-short-d{
    font-family: 'Playfair Display SC', serif !important;
    position: absolute;
    bottom: 3%;
    left: 5%;
    text-transform: capitalize;
    font-size: 15px;
}

.single-post-display-container{
    width: 60%;
    height: 80vh;
    margin: 5% auto;
    background: rgb(240, 240, 240);
    border-bottom: 1px dashed rgb(73, 73, 73);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.303);
}

.single-post-image-thumbnail{
    width: 100%;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-post-content-box{
    width: 100%;
    height: 30%;
    padding: 3%;
    position: relative;
}

.post-like-count-display{
    font-family: 'Playfair Display SC', serif !important;
    
    strong{
        color: orange;
    }
}

.post-title{
    font-family: 'Playfair Display SC', serif !important;
    font-size: 25px;
}

.post-short-descrption{
    display: block;
    text-transform: capitalize;
    margin-top: 1%;
    font-weight: lighter;   
}

.post-readMore-link{
    width: 20%;
    height: 40px;
    border: 1px solid orange;
    color: orange;
    transition: 0.2s all;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 3%;
    border-radius: 5px;
}

.post-readMore-link:hover{
    background: orange;
    color: #ffffff;
}

.pagination-container{
    width: 10%;
    height: 40px;
    margin: 5% 0;
    margin-left: 20%;
    background: orange;
    border-radius: 5px;

}

.pagination-previous-link{
    width: 50%;
    height: 100%;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.pagination-no-next{
    color: #ffffff79;
    cursor: not-allowed;
    
}

.admin-options{
    width: 50%;
    height: 40px;
}

.admin-btns-post{
    padding: 0 5%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid #ffffff;
    i{
        font-size: 13px;
        margin-right: 5px;
    }
}


.update{
    background: rgb(0, 206, 0);
}

.delete{
    background: rgb(255, 36, 36);
    cursor: pointer;
}

.notification-box-post{
    width: 80%;
    height: 40px;
    background: rgba(255, 0, 0, 0.548);
    color: #ffffff;
    padding-left: 3%;
    margin: 3% auto;
    border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
    .single-post-display-container{
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .single-post-display-container{
        width: 90%;
        margin: 10% auto;
    }

    .single-post-image-thumbnail{
        height: 60%;
    }

    .post-readMore-link{
        position: unset;
        margin-top:5% ;
        width: 50%;
        margin-left: 0;
    }
}