.single-Post-main-container {
  width: 60%;
  height: auto;
  margin: 3% auto;
  background: #ececec;
  min-height: 100vh;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.466);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.466);
  padding-bottom: 2%;
}

.single-Post-thumbnail {
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.single-post-title {
  font-family: 'Playfair Display SC', serif !important;
  margin-left: 5%;
  margin-top: 2%;
}

.single-post-reach-container {
  width: 30%;
  margin-left: 5%;
  height: 30px;
  margin-top: 1%;
}

.single-post-reach-container a {
  font-family: 'Playfair Display SC', serif !important;
  color: black;
}

.single-post-reach-container a strong {
  color: orange;
  margin-left: 5px;
}

.single-post-reach-container a i {
  font-size: 10px;
  margin-right: 5px;
}

.p-text {
  width: 90%;
  margin: 0 auto;
}

.post-short-description {
  margin-top: 3%;
  font-size: 15px;
  text-transform: capitalize;
  font-family: 'Playfair Display SC', serif !important;
  margin-bottom: 2%;
}

.post-commet-spaec {
  width: 100%;
  height: 5vw;
}

.single-post-addComment-container {
  width: 90%;
  min-height: 50vh;
  margin: 0 auto;
}

.single-post-comment-title {
  font-family: 'Playfair Display SC', serif !important;
  margin-bottom: 2%;
}

.single-post-comment-textarea {
  width: 100%;
  height: 30vh;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.411);
  resize: none;
  padding: 5px;
}

.single-post-comment-submit {
  width: 20%;
  height: 40px;
  background: orange;
  color: #ffffff;
  border: 0;
  text-transform: capitalize;
  margin-top: 3%;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.185);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.185);
}

.single-post-comment-submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.single-post-comments-box {
  width: 90%;
  min-height: 5vw;
  margin: 3% auto;
}

.single-post-comment-title {
  text-transform: capitalize;
  font-family: 'Playfair Display SC', serif !important;
  margin-left: 5%;
}

.post-comment-user-profile {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.508);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.508);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-comment-text-box {
  width: 80%;
  height: auto;
}

.post-comment-text-box strong {
  font-family: 'Playfair Display SC', serif !important;
}

.post-comment-text-box p {
  text-transform: capitalize;
  margin-top: 1%;
}

@media only screen and (max-width: 1000px) {
  .single-Post-main-container {
    width: 80%;
  }
  .post-commet-spaec {
    height: 10vw;
  }
}

@media only screen and (max-width: 600px) {
  .post-comment-text-box {
    width: 70%;
  }
  .single-Post-main-container {
    width: 95%;
  }
  .single-Post-thumbnail {
    height: 30vh;
  }
  .single-post-reach-container {
    width: 80%;
    margin-top: 5%;
  }
  .single-post-title {
    font-size: 20px;
  }
  .post-short-description {
    margin: 5% 0;
    margin-left: 5%;
  }
  .post-commet-spaec {
    height: 20vw;
  }
}
/*# sourceMappingURL=singlePost.css.map */