.Contentcontainer{
    width: 80%;
    min-height:100vh;
    margin: 0 auto;
}

.Contentsection{
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.headding{
    color: orange;
    font-size: 25px;
    margin-left: 1%;
    text-transform: capitalize;
    margin-top: 2%;
    margin-bottom: 1%;
    i{
        margin-right: 10px;
    }
}

.bottonBorder{
    width: 40%;
    height: 4px;
    background: rgb(65, 65, 65);
    position: relative;
    div{
        width: 20%;
        height: 200%;
        background: orange;
        margin-left: 2%;
    }



}

.contentpara{
    width: 100%;
    padding: 0 2%;
    margin-top: 3%;
    line-height: 35px;
}

.orderdList{
    padding: 0 6%;
    margin-top: 2%;
    li{
        margin-top: 2%;
    }
}