
.swiper-container{
    width: 100%;
    height: 100vh;
    z-index: 97;
  }

  .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
// ============================== basics start from here
  .fullwidthBox{
    width: 90%;
    height: 60vh ;
    margin: 2% auto;
    h2{
      margin-left: 2%;
      text-transform: capitalize;
      margin-bottom: 1%;
    }
  }
 
  .borderBottom{
    width: 60%;
    height: 3px;
    background: rgb(82, 82, 82);
    
    div{
      width: 40%;
      height: 200%;
      background:  orange;
      margin-left: 3%;
    }
  }

  .fullContentBox{
    width: 100%;
    height: 80%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
  }

  .fullImageBox{
  width: 40%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  }


  .fullTextBox{
    width: 60%;
    height: 100%;
    padding-left: 2%;
    h4{
      margin-top: 2%;
      margin-bottom: 5%;
      text-transform: capitalize;
    }
    p{
      margin-bottom: 2%;
    }
  }

  // vission mission box


  .vissionMissionBox{
    width: 90%;
    margin: 4% auto ;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
      width: 40%;
      height: 80%;
      background: orange;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.74);
      border-radius: 10px;
      color: #fff;
      padding: 2% 3%;
      h2{
        margin-bottom: 5%;
        text-transform: capitalize;
      }
    }
  }


  .paralaxBox{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.589)),url('https://dinbandhuhelpfoundation.weebly.com/uploads/1/2/5/1/125115490/img-20190607-wa0022_orig.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h2{
      color: #fff;
      text-transform: uppercase;
      border-bottom: 2px solid rgb(174, 174, 174);
      padding-bottom: 1%;
    }
  }

  .postBox{
    width: 90%;
    height: 60vh;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 3%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.583);
    position: relative;
    div{
      width: 100%;
      height: 25%;
      position: absolute;
      bottom: 0;
      color: #fff;
      padding:0 5%;
      text-transform: capitalize;
      h2{
        margin-bottom: 1%;
      }
    }
  }


  // ==================== youtube box


  .youtubeBox{
    width: 100%;
    height: 100vh;
  }

@media only screen and (max-width: 600px) {

  .swiper-container{
    height: 40vh;
  }

  .fullwidthBox{
    margin-top: 5%;
    height: auto;
    h2{
      font-size: 20px;
    }
  }

  .fullContentBox{
    flex-wrap:wrap;
  }

  .fullImageBox{
    width: 100%;
    height: 45vw;
    margin-top: 5%;
  }

  .fullTextBox{
    width: 100%;
    height: auto;
  }

  .vissionMissionBox{
    flex-wrap: wrap;
    height: auto;
    div{
      width: 100%;
      margin-bottom: 5%;
      padding: 5% 3%;
      h2{
        border-bottom: 2px solid #fff;
        padding-bottom: 1%;
      }

      p{
        font-size: 15px;
      }
    }
  }

  .paralaxBox{
    height: 30vh;
  }

  .postBox{
    height: 30vh;
    margin-bottom: 5%;
    div{
      height: 35%;
      font-size: 10px;
      h2{
        font-size: 15px;
      }
    }
  }

}