.formBox{
    width: 40%;
    height: 60vh;
    border: 4px solid orange;
    margin: 8% auto;
    background: orange;
    border-radius: 5px;

    h1{
        width: 100%;
        height: 20%;
        background: #ffffff;
        text-transform: capitalize;
        color: orange;
    }

    form{
        height: 70%;
        margin-top: 5%;
        padding:0 5% ;
        label{
            text-transform: capitalize;
            font-weight: 700;
            color: #ffffff;
        }
        input{
            margin-top: 3%;
            width: 100%;
            height: 40px;
            background: #ffffff7c;
            margin-bottom: 2%;
            outline: none;
            border: none;
        }

        button{
            width: 100%;
            height: 40px;
            border: none;
            border: 2px solid #ffffff;
            background: transparent;
            margin-top: 5%;
            font-weight: 700;
            color: #ffffff;
        }
    }

    .alert{
        text-align: center;
        color: #ffffff;
    }
}

.extra{
    height: 75vh !important;
}